{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.description) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <a href="{{ path('videotheque_list') }}">back to list</a>

    <div class="hidden">{{ form_row(form.member) }}
    {{ form_row(form.contenu) }}<\div>
    {{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}
